
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #021526;
}

.container{
    min-height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    overflow: hidden;
}

.container img {
    width: 150px; 
    height: auto;
    max-height: 220px;
    transition: transform 0.3s ease;
    filter: brightness(0) sepia(1); 
}
.container img:hover {
    transform: scale(1.2);
    filter: brightness(1) sepia(0);
}
.container img:hover + img {
    transform: scale(1.1);
    filter: brightness(1) sepia(0);
}
.container img:hover + img + img {
    transform: scale(1.05);
    filter: brightness(1) sepia(0);
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}




